body {
    font-family: $main-font-family;
    font-style: normal;
    font-weight: $normal-font-weight;
    font-size: 14px;
    letter-spacing: 0.03em;
  
    background-color: $main-background-color;
    color: $primery-text-color;
  }