$main-font-family: 'Roboto', sans-serif;
$logo-font-family: 'Raleway', sans-serif;

$normal-font-weight: 400;
$average-font-weight: 500;
$bolt-font-weight: 700;
$hero-title-font-weight: 900;

$primery-text-color: #212121;
$secondary-text-color: #757575;

$main-background-color: #ffffff;
$black-color: #000000;
$background-color-first:  #F5F4FA;
$header-color-line: #ECECEC;
$background-color-footer: #2F303A;
$border-color-portfolio: #EEEEEE;
$color-icon: #AFB1B8;

$accent-color: #2196F3;
$button-accent-color: #188CE8;

$duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);